@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,700;1,9..144,700&display=swap");

:root {
  /* color */
  --green-500: hsl(158, 36%, 37%);
  --green-700: hsl(158, 42%, 18%);

  --black: hsl(212, 21%, 14%);
  --grey: hsl(228, 12%, 48%);
  --cream: hsl(30, 38%, 92%);
  --white: hsl(0, 0%, 100%);

  /* component */
  --background: var(--cream);
  --card: var(--white);
  --card-foreground: var(--black);
  --card-muted: var(--grey);
  --card-primary: var(--green-500);
  --card-primary-foreground: var(--white);
  --card-text-primary: var(--green-500);
  --card-accent: var(--green-700);
}

/* Typograph classes */
.fraunces-bold {
  font-family: "Fraunces", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings: "SOFT" 0, "WONK" 0;
}

.montserrat-medium {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.montserrat-bold {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

/* 
  Component classes 
  Only apply on large device
*/
html {
  line-height: 1.5;
  font-size: clamp(0.875rem, 0.375rem + 1.25vw, 1.5rem);
}

body {
  background-color: var(--background);
  margin: 0px;
  min-block-size: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

p,
h1,
h2 {
  padding: 0px;
  margin: 0px;
}

.card {
  display: flex;
  flex-direction: row;
  background-color: var(--card);
  border-radius: 14px;
  overflow: hidden;
  justify-self: center;
  inline-size: 25rem;
  margin-block: 1rem;
}

.img-container {
  flex: 1 1 60%;
}

.img-container img {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
}

.main-container {
  flex: 1 1 50%;
  padding: 1rem;
}

.main-container .product-tag {
  color: var(--card-muted);
  font-size: 0.5rem;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}

.main-container .product-title {
  font-size: 1.55rem;
  line-height: 1;
  margin-block-start: 0.5rem;
  margin-block-end: 1rem;
}

.main-container .product-desc {
  color: var(--card-muted);
  font-size: 0.6rem;
  line-height: 1.6;
}

.main-container .price-container {
  margin-block-start: 0.7rem;
  display: flex;
  column-gap: 1rem;
}

.main-container .price-container .new-price {
  color: var(--green-500);
  font-size: 1.4rem;
}

.main-container .price-container .old-price {
  color: var(--grey);
  font-size: 0.52rem;
  align-self: center;
}

.main-container a[role="button"] {
  border-radius: 10px;
  display: flex;
  margin-block-start: 0.7rem;
  padding: 0.6rem;
  background-color: var(--card-primary);
  justify-content: center;
  align-items: center;
  column-gap: 0.4rem;
  color: var(--card-primary-foreground);
  font-size: 0.5rem;
  cursor: pointer;
}

.main-container a[role="button"] img {
  object-fit: contain;
}

@media (hover: hover) {
  .main-container a[role="button"]:hover {
    background-color: var(--card-accent);
  }
}

/* Medium device responsive */
@media (width >= 600px) and (width < 992px) {
  .card {
    inline-size: 40rem;
  }

  .main-container {
    padding: 2rem;
  }

  .main-container .product-tag {
    font-size: 0.7rem;
    letter-spacing: 0.4rem;
  }

  .main-container .product-title {
    font-size: 2.2rem;
    margin-block-start: 1rem;
    margin-block-end: 2rem;
  }

  .main-container .product-desc {
    font-size: 1rem;
  }

  .main-container .price-container {
    margin-block-start: 1.4rem;
    column-gap: 1.5rem;
  }

  .main-container .price-container .new-price {
    font-size: 2rem;
  }

  .main-container .price-container .old-price {
    font-size: 0.85rem;
    align-self: center;
  }

  .main-container a[role="button"] {
    margin-block-start: 1.4rem;
    padding: 1rem;
    font-size: 0.7rem;
  }
}

/* Small device responsive */
@media (max-width: 600px) {
  .card {
    flex-direction: column;
    inline-size: 90%;
  }

  .main-container {
    padding: 1.5rem;
  }

  .main-container .product-tag {
    font-size: 0.9rem;
    letter-spacing: 0.4rem;
  }

  .main-container .product-title {
    font-size: 2rem;
    margin-block-start: 0.5rem;
    margin-block-end: 1.5rem;
  }

  .main-container .product-desc {
    font-size: 0.9rem;
  }

  .main-container .price-container {
    margin-block-start: 1rem;
    column-gap: 1.5rem;
  }

  .main-container .price-container .new-price {
    font-size: 2rem;
  }

  .main-container .price-container .old-price {
    font-size: 0.95rem;
    align-self: center;
  }

  .main-container a[role="button"] {
    margin-block-start: 1rem;
    padding: 1rem;
    font-size: 0.9rem;
  }
}
