@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,700;1,9..144,700&display=swap");

:root {
  /* Font sizes */
  --font-size-xs: 0.75rem;
  --font-size-sm: 0.875rem;
  --font-size-base: 1rem;
  --font-size-md: 1.125rem;
  --font-size-lg: 1.25rem;
  --font-size-xl: 1.5rem;
  --font-size-2xl: 2rem;
  --font-size-3xl: 2.31rem;

  /* Spacing (Padding/Margin) */
  --spacing-xs: 0.25rem;
  --spacing-sm: 0.5rem;
  --spacing-md: 1rem;
  --spacing-lg: 1.5rem;
  --spacing-xl: 2rem;
  --spacing-2xl: 2.3rem;

  /* Border radius */
  --radius-xs: 0.125rem;
  --radius-sm: 0.25rem;
  --radius-md: 0.5rem;
  --radius-lg: 1rem;
  --radius-xl: 1.5rem;

  /* color */
  --green-500: hsl(158, 36%, 37%);
  --green-700: hsl(158, 42%, 18%);

  --black: hsl(212, 21%, 14%);
  --grey: hsl(228, 12%, 48%);
  --cream: hsl(30, 38%, 92%);
  --white: hsl(0, 0%, 100%);

  /* component */
  --background: var(--cream);
  --card: var(--white);
  --card-foreground: var(--black);
  --card-muted: var(--grey);
  --card-primary: var(--green-500);
  --card-primary-foreground: var(--white);
  --card-text-primary: var(--green-500);
  --card-accent: var(--green-700);
}

/* 
  ----------------------------------------------
  Font style
  ----------------------------------------------
*/
.fraunces-bold {
  font-family: "Fraunces", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.montserrat-medium {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.montserrat-bold {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
/* 
  ----------------------------------------------
  Font style end here
  ----------------------------------------------
*/

/* 
  Component classes 
  Only apply on large device
*/
html {
  line-height: 1.5;
  font-size: 14px;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  background-color: var(--background);
}

.container {
  max-inline-size: 1440px;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-self: center;
}

/* 
  ----------------------------------------------
  Card css 
  ----------------------------------------------
*/
.card {
  display: flex;
  flex-direction: row;
  background-color: var(--card);
  border-radius: var(--radius-md);
  overflow: hidden;
  max-inline-size: 42.857rem;
  margin: var(--spacing-md);
}

.card .container-img {
  flex: 1 1 50%;

  & img {
    inline-size: 100%;
    block-size: 100%;
    object-fit: cover;
  }
}

.card .container-body {
  flex: 1 1 50%;
  padding: var(--spacing-2xl);

  & .product-tag {
    color: var(--card-muted);
    font-size: var(--font-size-sm);
    letter-spacing: var(--spacing-xs);
    text-transform: uppercase;
  }

  & .product-title {
    font-size: var(--font-size-3xl);
    line-height: 1;
    margin-block-start: var(--spacing-lg);
    margin-block-end: var(--spacing-lg);
  }

  & .product-desc {
    color: var(--card-muted);
    font-size: var(--font-size-base);
    line-height: 1.6;
  }

  & .product-price {
    margin-block-start: var(--spacing-lg);
    display: flex;
    column-gap: var(--spacing-lg);

    & strong {
      color: var(--green-500);
      font-size: var(--font-size-3xl);
    }

    & del {
      color: var(--grey);
      font-size: var(--font-size-sm);
      align-self: center;
    }
  }

  & a[role="button"] {
    border-radius: var(--radius-md);
    display: flex;
    margin-block-start: var(--spacing-lg);
    padding: var(--spacing-md);
    background-color: var(--card-primary);
    justify-content: center;
    align-items: center;
    column-gap: var(--spacing-md);
    color: var(--card-primary-foreground);
    font-size: var(--font-size-base);
    cursor: pointer;

    & img {
      object-fit: contain;
    }
  }
}
/* 
  ----------------------------------------------
  Card css end here
  ----------------------------------------------
*/

@media (hover: hover) {
  .card .product-details a[role="button"]:hover {
    background-color: var(--card-accent);
  }
}

/* 
  ----------------------------------------------
  Small device responsive
  ----------------------------------------------
*/
@media (max-width: 600px) {
  .container {
    max-inline-size: 600px;
  }

  .card {
    flex-direction: column;
    max-inline-size: 25rem;
  }
}
/* 
  ----------------------------------------------
  Small device responsive end here
  ----------------------------------------------
*/
