@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,700;1,9..144,700&display=swap");

:root {
  /* color */
  --green-500: hsl(158, 36%, 37%);
  --green-700: hsl(158, 42%, 18%);

  --black: hsl(212, 21%, 14%);
  --grey: hsl(228, 12%, 48%);
  --cream: hsl(30, 38%, 92%);
  --white: hsl(0, 0%, 100%);

  /* component */
  --background: var(--cream);
  --card: var(--white);
  --card-foreground: var(--black);
  --card-muted: var(--grey);
  --card-primary: var(--green-500);
  --card-primary-foreground: var(--white);
  --card-text-primary: var(--green-500);
  --card-accent: var(--green-700);
}

/* Typograph classes */
.fraunces-bold {
  font-family: "Fraunces", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings: "SOFT" 0, "WONK" 0;
}

.montserrat-medium {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.montserrat-bold {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

/* 
  Component classes 
  Only apply on large device
*/
html {
  line-height: 1.5;
  font-size: 0.875rem;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  background-color: var(--background);
}

.container {
  max-inline-size: 1440px;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.card {
  display: flex;
  flex-direction: row;
  background-color: var(--card);
  border-radius: 14px;
  overflow: hidden;
  max-inline-size: 38rem;
}

.card .product-img {
  flex: 1 1 50%;
}

.card .product-img img {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
}

.card .product-details {
  flex: 1 1 50%;
  padding: 1.8rem;
  font-size: 1rem;
}

.card .product-details .product-tag {
  color: var(--card-muted);
  font-size: 0.8em;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}

.card .product-details .product-title {
  font-size: 2.05em;
  line-height: 1;
  margin-block-start: 0.8rem;
  margin-block-end: 1.5rem;
}

.card .product-details .product-desc {
  color: var(--card-muted);
  font-size: 0.92em;
  line-height: 1.6;
}

.card .product-details .product-price {
  margin-block-start: 1rem;
  display: flex;
  column-gap: 1.5rem;
  font-size: 1em;
}

.card .product-details .product-price strong {
  color: var(--green-500);
  font-size: 2em;
}

.card .product-details .product-price del {
  color: var(--grey);
  font-size: 0.9em;
  align-self: center;
}

.card .product-details a[role="button"] {
  border-radius: 10px;
  display: flex;
  margin-block-start: 1.2rem;
  padding: 0.8rem;
  background-color: var(--card-primary);
  justify-content: center;
  align-items: center;
  column-gap: 0.8rem;
  color: var(--card-primary-foreground);
  font-size: 0.85em;
  cursor: pointer;
}

.card .product-details a[role="button"] img {
  object-fit: contain;
}

@media (hover: hover) {
  .card .product-details a[role="button"]:hover {
    background-color: var(--card-accent);
  }
}

/* Small device responsive */
@media (max-width: 600px) {
  .container {
    max-inline-size: 600px;
  }

  .card {
    flex-direction: column;
    max-inline-size: 24.5rem;
  }

  .card .product-details {
    font-size: 1.09rem;
  }
}
